@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@media screen and (max-width: 900px) {
    body {
       padding: 0 18px;
    }
    .form_block_multiply {
        flex-direction: column !important;
    }
    .form_block_multiply .form_input {
        margin-right: 0px !important;
    }
    .form_block_multiply .form_input:first-child {
        margin-bottom: 15px !important;
    }
    .form_block .form_input label {
        margin-right: 10px !important;
        width: 100% !important;
    }
    form button {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .form_block_multiply .form_input input {
        width: 100% !important;
    }
    .form_block .form_input label {
        margin-bottom: 3px;
    }
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Ubuntu !important;
}

select {
    width: fit-content;
    margin-top: 5px;
    padding: 8px 5px;
    margin-bottom: 15px;
    border: 2px #D5BAAF solid;
    border-radius: 2px;
    background-color: #F2F6FE;
    transition: all .2s;
    outline: none;
}

select:hover {
    cursor: pointer;
    opacity: .85;
}

#form_title {
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 20px;
}

form {
    width: fit-content;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.form_block {
    width: 100%;
    margin-bottom: 15px;
}

.form_block_multiply {
    display: flex;
}

.form_block .form_input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form_block .form_input input {
    flex-grow: 1;
    height: 35px;
    border: 1px #B5C2DB solid;
    border-radius: 2px;
    outline: none;
    padding: 0 12px;
}

.form_block .form_input input:focus {
    border: 1px #818C9F solid
}

.form_block_multiply .form_input input {
    width: calc(300px - 24px);
}

.form_block_multiply .form_input {
    margin-right: 10px;
}

.form_block_multiply .form_input:last-child {
    margin-right: 0px;
}

.form_block .form_input label {
    margin-right: 20px;
    width: 85px;
}

.form_block .form_area textarea {
    flex-grow: 1;
    border: 1px #B5C2DB solid;
    border-radius: 2px;
    outline: none;
    font-family: Ubuntu;
    font-size: 12.5px;
    padding: 12px;
}

.form_block .form_area textarea:focus {
    border: 1px #818C9F solid
}

form button {
    padding: 10px;
    outline: none;
    background-color: #B5C2DB;
    border: 2px #DBDCDC outset;
    font-size: 15px;
    transition: all .2s;
    font-family: Ubuntu;
    margin-bottom: 15px;
}

form button:hover {
    cursor: pointer;
    opacity: .9;
}

form button:active {
    opacity: .8;
}
